# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
out/

# Secrets — JAMAIS dans Git
.env

# Uploads images
uploads/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/